{% extends 'base.html' %}
{% block title %}
Scrumptious recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">Main Page</a>


        {% if user.is_authenticated %}
        Hello, {{ user.username }}
        <a href="{% url 'create_recipe' %}">Create a recipe</a>
        <a href="{% url 'my_recipe_list' %}">My recipes</a>
        <a href="{% url 'user_logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'signup' %}">Sign up</a>
        <a href="{% url 'user_login' %}">Login</a>
        {% endif %}
    </nav>
</header>
<main>
    <h1>Scrumptious Recipes</h1>
    <h2>All the food that's fit to eat</h2>
    <div class="foods">
        {% for recipe in recipe_list %}
        <div>
            <h3 class="foodname">
                <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
            </h3>
            <p>{{ recipe.created_on|date:"j F Y" }}</p>
            <img src="{{ recipe.picture|default:'https://via.placeholder.com/150' }}">
            <div>4.3 stars</div>
        </div>
        {% empty %}
        <p>There are no recipes.</p>
        {% endfor %}
    </div>
    </div>
</main>
{% endblock content %}
